*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial,sans-serif;

}

body{

background:black;
color:white;

}


header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 50px;

background:#000;

border-bottom:2px solid #00ff00;

position:sticky;

top:0;

}


.logo img{

height:180px;
width: 250px;

}


nav a, #contato a{

text-decoration:none;

color:white;

font-weight:bold;

transition:.3s;

}

nav a{

margin-left:30px;
}

nav a:hover, #contato a:hover{

color:#00ff00;

}



.hero{

height:90vh;

display:flex;

align-items:center;

padding:80px;

background:
linear-gradient(
135deg,
#000,
#111,
#1a1a1a
);

}


.texto{

max-width:700px;

}



.texto h1{

font-size:60px;

color:#00ff00;

margin-bottom:20px;

}



.texto p{

font-size:22px;

line-height:1.6;

color:#ddd;

margin-bottom:30px;

}


button{

background:#ff6600;

color:white;

padding:15px 30px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:18px;

transition:.3s;

}


button:hover{

background:#00ff00;

color:black;

transform:scale(1.05);

}



#beneficios{

padding:80px;

text-align:center;

}



#beneficios h2{

margin-bottom:40px;

color:#ff6600;

}



.cards{

display:flex;

gap:25px;

justify-content:center;

}



.card{

background:#151515;

padding:30px;

border-radius:15px;

width:300px;

border:1px solid #00ff00;

transition:.3s;

}


.card:hover{

transform:translateY(-10px);

}



.card h3{

margin-bottom:15px;

color:#00ff00;

}



#faq{

padding:80px;

background:#111;

}



#faq h2{

margin-bottom:30px;

color:#ff6600;

text-align:center;

}


.pergunta{

margin-bottom:30px;

padding:20px;

background:#1a1a1a;

border-left:5px solid #00ff00;

border-radius:10px;

}



#contato{

padding:80px;

text-align:center;

}


#contato h2{

margin-bottom:25px;

color:#ff6600;

}


#contato p, #contato a{

margin-bottom:15px;

font-size:20px;

}



footer{

padding:30px;

text-align:center;

background:#000;

border-top:2px solid #00ff00;

}



@media(max-width:768px){

header{

flex-direction:column;

}

nav{

margin-top:15px;

}

.cards{

flex-direction:column;

align-items:center;

}

.texto h1{

font-size:40px;

}

.hero{

padding:40px;

}

}